body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgb(24, 246, 246), rgb(24, 246, 246));
    color: #333;
    text-align: center;
    scroll: smooth;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00c6ff;
}

header {
    background: linear-gradient(rgb(11, 65, 122),rgb(34, 246, 246));
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero-content_img {
    margin-top: 10px;
    width: 200px;
    border-radius: 100%;
    border-color: white;
}

.hero-content h1 {
    font-size: 28px;
}

.hero-content span {
    color: yellow;
}

.hero-content p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 24px;
    background: white;
    color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #f8f9fa;
    transform: scale(1.05);
}

.card {
    max-width: 800px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: 0.3s;
}

.card p {
    font-size: 20px;
    font-family: serif;
}

.card ul li {
    font-size: 20px;
    font-family: serif;
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.02);
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill {
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.skill:hover {
    transform: scale(1.1);
}

.skill-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}
